.text-dec{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
display: flex;
width: 708px;
flex-direction: column;
padding-top: 5px;}
.banner{
    background-color: lavenderblush;
    width: 1920px;
height: 800px;
padding: 100px 50px 0px 100px;
justify-content: space-between;}
#p-dec{
    color: gray;
}
.btn-dec{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    color: beige;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;
margin: 10px;
}
section {
display: flex;}
#pic{width: 635px;
    height: 800px;
    flex-shrink: 0;}
